*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em #303030, 0.125em 0.125em 0.25em #303030;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  font-family: "Titillium Web", sans-serif;
  background-color: #f5df4e;
}

.headshot {
  width: 354.4px;
  height: 354.4px;
  border-radius: 50%;
  border: 15px solid #ffffff;
  margin: 0 auto;
  background-size: cover;
  background-color: #242424;
}

.home-page-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25em;
  margin-top: 2em;
}

.contact-me {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.location,
.introduction {
  font-size: 1.15em;
  text-align: center;
  margin-top: 0.95em;
}

.developer {
  margin-top: 0.15em;
  white-space: nowrap;
  font-size: 2em;
}

.view-work-button {
  background-color: #212529;
  padding: 0.81rem 2rem;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  line-height: 1.5;
  text-decoration: none;
  color: white !important;
  transition: all 0.5s ease;
}

.view-work-button:hover {
  background-color: #393f46;
}

.work-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.25em;
  margin-top: 1.35em;
}

.introduction {
  font-weight: 300;
  font-size: 1.75em;
}

ul {
  padding: 0;
  align-items: center;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

.nav-list {
  justify-content: space-around;
  display: flex;
  list-style-type: none;
  gap: 2rem;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.nav-link {
  text-decoration: none;
  color: #242424;
  font-size: 1.15rem;
  position: relative;
  font-weight: 700;
}

.nav-link:hover {
  color: #242424;
  border-bottom: 1px solid #242424;
}

.nav-item {
  transition: transform 250ms;
}

.nav-item:hover {
  transform: translateY(-3px);
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
  display: block;
}

.social-icon {
  font-size: 1.75rem;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0.75rem;
  gap: 0.7rem;
  grid-row: 2;
  grid-column: -1/1;
}

.footer {
  text-align: center;
  color: #656161;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  margin-left: 0.35rem;
}

.footer-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal-container,
.terminal-container-last {
  width: calc(100% - 2rem);
  max-width: 685px;
  background-color: #2a2a2a;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin: 2em auto 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.terminal-container-last {
  margin-bottom: 2em;
}

.terminal-bar {
  background-color: #555;
  padding: 0;
}

@media (min-width: 800px) {
  .terminal-container {
    width: calc(100vw - 2rem);
  }
}

.home-page-flex-container {
  margin-bottom: 5.1em;
}

.terminal-bar {
  background-color: #555;
  padding: 10px;
}

.dots-container {
  display: flex;
  align-items: center;
}

.red-circle,
.yellow-circle,
.green-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.red-circle {
  background-color: #ff5f56;
}

.yellow-circle {
  background-color: #ffbd2e;
}

.green-circle {
  background-color: #27c93f;
}

.terminal-content {
  padding: 30px;
  font-size: 18px;
  overflow-y: auto;
  line-height: 2.5em;
}

.term-content2 {
  line-height: 1.4em;
}

.about-title {
  color: rgb(0, 255, 164);
}

.about-title2 {
  color: rgb(0, 255, 164);
  line-height: 3em;
}

li {
  list-style: none;
}

.hobbies-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25em;
}

.about-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects {
  display: flex;
  flex-direction: column;
}

.project,
.project-last {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-last {
  margin-bottom: 2em;
}

.portfolio-link {
  color: #302f2f;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.1em;
  border: 1.5px solid black;
  padding: 0.25em 0.5em;
  border-radius: 25px;
  margin: 0.15em;
  background-color: rgb(216, 210, 210);
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

.portfolio-link:hover {
  color: black;
  font-size: 1.005em;
}

.social-icon-a {
  color: #393f46;
}

.social-icon-a:hover {
  color: #1f2326;
}

.project-description {
  margin: 0.4em 0;
}

.project-title {
  font-size: 1.75em;
}

@media (min-width: 900px) {
  .home-page-flex-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  .headshot {
    margin: 0;
    width: 450px;
    height: 450px;
  }

  .introduction {
    font-size: 2.85em;
  }

  .introduction,
  .location {
    text-align: left;
  }

  .work-contact {
    flex-direction: row;
    justify-content: left;
  }

  .projects {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    grid-template-rows: 1fr 1fr;
    padding: 10px;
  }

  .footer-text {
    font-size: 0.85rem;
  }

  .nav-list {
    gap: 7rem;
  }

  .nav-link {
    font-size: 1.75rem;
    font-weight: 600;
  }
}
